<form action="/users/forget-password" method="Post">

    <input type="text"  name="name">
    <input type="text"  name="currentPassword">
    <input type="text"  name="newPassword">
    <button type="submit"  class="btn btn-primary">Submit</button>
</form>