<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>  
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Book-Bazar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="my-2 navbar-nav me-auto my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <% if (userLoggedIn) { %>
              <li class="nav-item">
                <a class="nav-link" href="/users/profile">Profile</a>
              </li>
              <% } %>

              <% if (userLoggedIn && userType === "admin") { %>
              <li class="nav-item">
                <a class="nav-link" href="/users/Add">Add Book</a>
              </li>
              <% } %>

              
              
              <% if (!userLoggedIn) { %>
              <li class="d-flex">
                <a class="nav-link" href="/users/sign-in">Login</a>
              </li>
              <li class="d-flex">
                <a class="nav-link" href="/users/sign-up">Register</a>
              </li>
              <% } %>
              
              <% if (userLoggedIn) { %>
                <li class="d-flex">
                  <a class="nav-link" href="/users/logout">Logout</a>
                </li>
                <% } %>
     
            </ul>
            
          </div>
        </div>
      </nav>